[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple

User=USER_NAME

WorkingDirectory=APP_PATH/APP_NAME/current

ExecStart=/bin/bash -lc '/usr/local/rvm/bin/rvm RUBY_VERSION do bundle exec puma -C APP_PATH/APP_NAME/shared/puma.rb'

Restart=always

[Install]
WantedBy=multi-user.target
